.my-card {
     border: 1px solid lightgray;
    border-radius: 5px;
    margin-top: 20px;
    padding: 0px;;
}

.my-card .mat-list-item {
     border-bottom: 1px solid lightgray;
}

.my-card .mat-list-item {
     height: unset;
     min-height: 48px;
     padding-top:10px;
     padding-bottom: 10px;
}

.my-input {
     padding-left: 10px;
     border: 1px solid lightgray;
     border-radius: 2px;
}

::ng-deep .submit-button:hover {
     background-color: #0d0d0f6b !important;
     color: white !important;
}

.my-input:hover {
     border-color: rgb(104 142 239 / 80%);
     box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgb(104 142 239 / 60%);
     outline: 0 none;
}

.my-card .mat-list-item:last-of-type {
     border-bottom: none !important;
}

.dashed {
     text-decoration: line-through;
}